.card{
    min-height: 10px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-sizing:border-box;
    margin: 1rem;
    box-shadow:
    0 0px 1.7px rgba(0, 0, 0, 0.01),
    0 0px 4.6px rgba(0, 0, 0, 0.015),
    0 0px 11.2px rgba(0, 0, 0, 0.02),
    0 0px 37px rgba(0, 0, 0, 0.03);
    p{
        margin:5px 0;
    }
    [class^=col]{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .card-footer{
        min-height: 30px;
        border-top: 1px solid $gray-dark;
        width: 100%;
    }

    .card-title{
        width: 100%;
        background: transparentize($pink, 0.90);
        height: 50px;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px 5px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        &.blue{ background: transparentize($blue, 0.90); }
        &.orange{ background: transparentize($orange, 0.90); }
        &.green{ background: transparentize($green, 0.90); }
    }
}

@keyframes loadingCard {
    0% {transform: translate(0,0);}
    50% {transform: translate(0,25px);}
    100% {transform: translate(0,0);}
}