$navbarWidth: 80px;
$iconSize: 30px;
$iconSizeMobile: 40px;
$brandHeight: 70px;
$navbarColor: $primary;
$textColor: rgb(202, 202, 202);
$iconColor: #fff;

.navbar{
    position: fixed;
    width: $navbarWidth;
    height: 100vh;
    background: $navbarColor !important;
    box-shadow:
    0 0px 4.5px -4px rgba(0, 0, 0, 0.057),
    0 0px 26px -4px rgba(0, 0, 0, 0.12);
    transition: 0.4s;
    z-index: 50;
    border-right: 1px solid #eeeeee;
    .brand{
        height: $brandHeight;
        background: #fff !important;
        img{
            position: relative;
            max-width: 40px;
            left:50%; top:50%;
            transform: translate(-50%,-50%);
        }
    }
    .listsContainer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100% - #{$brandHeight});
        ul.topList, ul.bottomList{
            width: 100%;
            margin: 0;
            padding: 0;
            li.li-container{
                position: relative;
                width: 100%;
                list-style: none;
                a, span{
                    position: relative;
                    cursor: pointer;
                    display: block;
                    width: 80%;
                    margin: 5px auto;
                    display: flex;
                    text-decoration: none;
                    border-radius: 5px;
                    .icon{
                        min-width: $iconSize;
                        color: $iconColor;
                        transition: .2s all ease;
                        position: relative;
                        height: 2.5rem;
                        .item-title{
                            display: none;
                        }
                        svg{
                            position: relative;
                            display: block;
                            width: 20px;
                            height: $iconSize;
                            margin: auto;
                        }
                    }
                    &.active{
                        background: transparentize(#000, .6);
                        .icon{
                            &:before{
                                display: block;
                            }
                        }
                    }
                }
                a:hover{
                    background: transparentize(#000, .85);
                }
            }
        }
        ul.topList{
            margin-top: 1.5rem;
            li.li-container{
                &::after{
                    content: attr(data-title);
                    width: max-content;
                    background: #fff;
                    box-shadow:
                    0 0px 3.4px rgba(0, 0, 0, 0.051),
                    0 0px 12.9px rgba(0, 0, 0, 0.081),
                    0 0px 40px rgba(0, 0, 0, 0.15);
                    border-radius: 3px;
                    padding: .3rem .7rem;
                    color: $gray-medium;
                    position:absolute;
                    top: 65%;
                    transform: translateY(-50%);
                    transition: all .1s ease-in-out;
                    left: 110%;
                    text-align: center;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(-50%) scale(0) translateX(-50px);
                }
                &:hover{
                    &::after{
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(-50%) scale(1) translateX(0);
                    }
                }
            }
        }
        .bottomList{
            margin-bottom: 1.5rem !important;
            .quick-action-li{
                .quick-actions{
                    position: absolute;
                    width: 220px;
                    border-radius: 3px;
                    left: 100%;
                    top: -100%;
                    background: #fff;
                    box-shadow:
                    0 0px 7.9px -3px rgba(0, 0, 0, 0.041),
                    0 0px 30.3px -3px rgba(0, 0, 0, 0.065),
                    0 0px 94px -3px rgba(0, 0, 0, 0.12);
                    border: 1px solid #eeeeee;
                    margin: 5px;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.2s linear;
                    transition-delay: .2s;
                    .quick-actions-list{
                        display: flex;
                        flex-direction: column;
                        .quick-actions-item{
                            padding: 5px 10px;
                            display: flex;
                            align-items: center;
                            line-height: 40px !important;
                            height: 40px !important;
                            font-size: 1rem;
                            color: $gray-medium !important;
                            transition: .2s background-color ease;
                            a{
                                width: initial;
                                margin: inherit;
                                line-height: 40px;
                                &:hover{
                                    background: none !important;
                                }
                            }
                            span{
                                height: initial;
                                line-height: 40px;
                                width: 100%;
                                line-height: normal;
                                &:hover{
                                    background: none !important;
                                }
                            }
                            svg{
                                padding-right: 10px;
                                font-size: 1.8rem !important;
                            }
                            &:hover{
                                background-color: transparentize($primary, $amount: .9);
                            }
                        }
                    }
                }
                &:hover{
                    .quick-actions{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .user-nav{
                position: relative;
                z-index: 999;
                .user-popup{
                    position: absolute;
                    width: 20rem;
                    border-radius: 3px;
                    left: 110%;
                    top: 0%;
                    transform: translateY(-60%);
                    background: #fff;
                    box-shadow:
                    0 0px 7.9px -3px rgba(0, 0, 0, 0.041),
                    0 0px 30.3px -3px rgba(0, 0, 0, 0.065),
                    0 0px 94px -3px rgba(0, 0, 0, 0.12);
                    border: 1px solid #eeeeee;
                    box-sizing: border-box;
                    // display: block;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.2s linear;
                    transition-delay: .2s;
                    span{
                        display: block;
                        text-align: center;
                        margin: inherit;
                        width: 100%;
                        &.user-name{
                            font-size: 1.2rem;
                            color: $gray-medium;
                            padding-top: 10px;
                            height: initial;
                        }
                        &.user-role{
                            color: #9b9b9b;
                            padding-bottom: 10px;
                            height: initial;
                        }
                        &:hover{
                            background: none !important;
                        }
                    }
                    a{
                        height: 40px !important;
                        line-height: 40px !important;
                        color: #b4b4b4;
                        transition: .2s all ease;
                        display: block;
                        text-align: center;
                        width: 100%;
                        margin: inherit;
                        &:hover{
                            color: $red;
                            background-color: transparentize($red, 0.9);
                        }
                    }
                    .toggle-darkmode-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;
                        width: 50%;
                        border-bottom: 1px solid #d6d6d6;
                        border-top: 1px solid #d6d6d6;
                        .switch {
                            display: flex;
                            border-radius: 50px;
                            width: 3rem;
                            padding: .3rem;
                            background-color: $gray-dark;
                            transition: background-color .2s;
                            cursor: pointer;
                        }
                        .btn-toggle {
                            width: 15px !important;
                            height: 15px;
                            border-radius: 15px;
                            background-color: #fff;
                            transition: transform .1s;
                            &:hover{
                                background: #fff !important;
                            }
                        }
                        .switch.dark-theme  {
                            background-color: $gray-medium;
                        }
                        .btn-toggle.dark-theme {
                            transform: translateX(19px);
                        }
                        .darkmode-moon{
                            margin-right: 10px;
                        }
                        .darkmode-sun{
                            margin-left: 10px;
                        }
                    }
                    .toggle-navbar-container{
                        box-sizing: border-box;
                        padding: 10px;
                        width: 50%;
                        border-left: 1px solid #d6d6d6;
                        border-bottom: 1px solid #d6d6d6;
                        border-top: 1px solid #d6d6d6;
                        span{
                            height: inherit;
                            margin: inherit;
                            width: 100%;
                            &:first-of-type{
                                padding-bottom: 5px;
                                color: #9b9b9b;
                            }
                            &:last-of-type{
                                color: #9b9b9b;
                                svg{
                                    transform: translateY(1px);
                                    margin-left: 4px;
                                }
                                &:hover{
                                    color: $gray-medium;
                                }
                            }
                        }
                    }
                }
                .user-popup-active{
                    display: block;
                }
                &:hover{
                    .user-popup{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.toggle-navigation{
    position: fixed;
    top: 0;
    right: 10px;
    height: 70px;
    width: 70px;
    z-index: 51;
    cursor: pointer;
    text-align: center;
    color: #fff;
    line-height: 70px;
    font-size: 22px;
    svg{
        transform: translateY(2px);
    }
    &:before{
        content:'';
        position: fixed;
        width: 100vw;
        height: 70px;
        background: $primary;
        top: 0; left: 0;
        z-index: -1;
    }
}
.navbar-extend{
    width: 250px !important;
    ul.topList, ul.bottomList{
        li.li-container{
            a,span{
                width: 90% !important;
                .icon{
                    .item-title{
                        display: block !important;
                        font-size: .9rem;
                        height: max-content;
                        line-height: 2rem;
                    }
                    svg{
                        margin: auto 15px  !important;
                    }
                }
            }
            &:after{
                display: none !important;
            }
        }
    }
}

@media (max-width: $breakpoint-small){
    .navbar .listsContainer .bottomList {
        margin-bottom: 0 !important;
    }
    .navbar{
        position: fixed !important;
        top: 0 !important;
        left: -100%; 
        border: none !important;
        &.active{
            left:0;
            width: 100%;
        }
        ul.topList{
            li.li-container{
                height: 60px !important;
                a, span{
                    display: flex;
                    justify-content: left;
                    height: 60px !important; 
                    .icon{
                        max-width: max-content;
                        height: 40px !important;
                        background: none !important;
                        margin-left: 20px;
                        svg{
                            position: relative;
                            display: block;
                            width: 30px !important;
                            height: $iconSizeMobile !important;
                            margin: 5px 10px !important;
                            line-height: $iconSizeMobile !important;
                        }
                        &:before{display: none !important;}
                    }
                }
                &:after{
                    content: attr(data-title);
                    position: absolute !important;
                    color: #fff !important;
                    background: none !important;
                    display: block !important;
                    top: 55% !important;
                    box-shadow: none !important;
                    transform: translateY(-50%);
                    left: 8rem !important;
               }
            }
        }
        ul.bottomList{
            background: $gray-dark;
            padding-bottom: .5rem !important;
            li.quick-action-li{
                margin-bottom: 75px;
                .quick-actions{
                    width: 100% !important;
                    left: 0 !important;
                    top: inherit !important;
                    bottom: 100% !important;
                    
                }
            }
            li.user-nav{
                span.icon{
                    display: none !important;
                }
                .user-popup{
                    width: 100% !important;
                    display: block !important;
                    left: 50% !important;
                    top: inherit !important;
                    bottom: 0 !important;
                    background: #fff !important;
                    transform: translateX(-50%) !important;
                    visibility: visible !important;
                    opacity: 1 !important;
                    border: none !important;
                    box-shadow: none !important;
                    .toggle-darkmode-container{
                        border: none !important;
                        width: 100% !important;
                        margin: 10px 0;
                    }
                    .toggle-navbar-container{
                        display: none;
                    }
                    a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}